@import '_fonts';
@import '_loader';


html, body {
  height: 100%;
}


main, .hide {
	opacity: 0;
}

main {
	min-height: 93%;
}
.container {
	max-width: 1320px;
}
body {
	font-family: 'Source Sans Pro', sans-serif;
}

#sidebar { 
	// border-right: 1px solid #6e6c6c9c;
	// background: #EEEEEE;
	// padding-left: 0;
	padding-right: 0;
}

#content {
	padding-left: 10px;
	margin-bottom: 20px;
}
.triggers-definition {
	background: #EEEEEE;
	padding: 5px;
	h4 {
		font-size: 16px;
		color: #007CE0;
		text-transform: uppercase;
	}
	h5 {
		font-size: 14px;
		color: #1EBFB3;
	}
	.definition {
		font-family: 'Gotham-Light', sans-serif;
		font-size: 12px;
	}
}

#selections {
	background-color: #FFF;
    border-color: #FFF;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    height: 40px;
    white-space: pre-wrap;
    width: 100%;
}

#map{
	position: relative;
	width: 100%;
	height: 550px;
}

.info {
    padding: 6px 8px;
    // font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
	font-size: 14px;
    margin: 0 0 5px;
    color: #777;
}

.key-message h4 {
	padding-top: 10px;;
}

.btn {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	background-color: #FFF;
    border-color: #FFF;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    height: 40px;
    white-space: pre-wrap;
    width: 250px;
}

#datatable {
	width: 100%;
	margin-top: 20px;
	thead {
		tr {
			text-align: left;
			th {
				&:last-child {
					min-width: 112px;
				}
			}
		}
	}
}

footer {
	background-color: #353535;
	color: #FFF;
	padding: 20px 0 10px;
	opacity: 0;
}

img {
		margin-right: 40px;
		margin-bottom: 0;
		vertical-align: top;
		width: auto;
}
